body {
    margin: 0;
}

.container {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

nav {
    background-color: #52AACE;
}

.navbar {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
    padding: 10px 20px; 
    font-family: sans-serif;
}

.navbar li a:hover {
    color: red;
}

.navbar li:first-child a {
    padding: 6px 20px;
}

.navbar li:not(:first-child) a::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    background-color: #3C7D9B;
    top: 50%;
    margin-top: -3px;
    left: -3px;
}

.search-container {
    float: right;
    position: relative;
}

.search-input {
    width: 300px;
    border: none;
    height: 25px;
    padding: 2px 2px 2px 40px;
    font-size: 16px;
    color: #4c98ba;
    margin-top: 6px;
    margin-right: 6px;
}

.search-icon {
    display: block;
    background: url(images/icons/search_icon.jpg) no-repeat;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 10px;
}

header {
    background: linear-gradient(to top, #58B4DB, #93DAF6);
}

header img {
    margin: 0 auto;
    display: block;
}

.carusel input {
  display: none;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
} 

.carusel {
    width: 1000px;
    height: 218px;
    margin: 0 auto;
    position: relative;
}

#arrows label {
    display: none; 
}


#slide1:checked ~ #arrows label:nth-child(3),
#slide2:checked ~ #arrows label:nth-child(4),
#slide3:checked ~ #arrows label:nth-child(5),
#slide4:checked ~ #arrows label:nth-child(1),
#slide5:checked ~ #arrows label:nth-child(2){
	width: 0;
	height: 0;
	display: block;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #FD6D26;
	border-left: 0 solid #FD6D26;
	border-style: solid;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	cursor: pointer;
	left: -22px;
}


#slide1:checked ~ #arrows label:nth-child(4),
#slide2:checked ~ #arrows label:nth-child(5),
#slide3:checked ~ #arrows label:nth-child(1),
#slide4:checked ~ #arrows label:nth-child(2),
#slide5:checked ~ #arrows label:nth-child(3){
	width: 0;
	height: 0;
	display: block;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 0 solid #FD6D26;
	border-left: 20px solid #FD6D26;
	border-style: solid;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	cursor: pointer;
	right: -22px;
}

#slide1:checked ~ .slides .inner {margin-left: 0}
#slide2:checked ~ .slides .inner {margin-left: -200px}
#slide3:checked ~ .slides .inner {margin-left: -400px}

.inner {
    width: 200%;
}

.slides .inner {
	transition: all 0.8s ease-in-out;
}

.slides {
    overflow: hidden;
}

.trampoline {
	float: left;
	box-sizing: border-box;
	width: 200px;
	border: 2px solid #FFF;
	padding: 5px;
	text-align: center;
}

.trampoline:hover {
	border: 2px solid #47AEBF;
}

.trampoline img {
	width: 100%;
}

.trampoline-title {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 17px;
	font-family: 'Arial';
}

.description {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.description li {
	float: left;
}

.description li a {
	display: none;
	padding: 10px 10px 0 10px;
	font-size: 23px;
	text-decoration: none;
	color: black;
}

.description li a:hover {
	text-decoration: underline;
	color: blue;
}

.trampoline:hover .description a {
	display: block;
}

.banners {
    background-color: #E9DBCE;
}

.banners img {
    float: left;
    margin: 10px 10px 0 0;
    padding: 0;
}

.banners .row:first-child img {
     width: 334px;
}

.banners .row img:last-child {
    margin-right: 0;
}

.certyfikaty {
    width: 199px;
}

.banners .row:last-child img {
    margin-bottom: 10px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.banner-slider input {
    display: none;
}

.banner-slider {
    width: 815px;
    height: 205px;
    position: relative;
    overflow: hidden;
    float: left;
}

.slide-dots {
    position: absolute;
    font-size: 0;
    margin: 0 auto;
    left: 50%;
    margin-left: -47px;
    bottom: 10px;
}

.slide-dots label {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #fff;
    margin-right: 10px;
    cursor: pointer;
}

.inner {
    width: 500%;
}

.slide-element {
    float: left;
    height: 205px;
}


#slide1:checked ~ .slide-dots label:nth-child(1),
#slide2:checked ~ .slide-dots label:nth-child(2),
#slide3:checked ~ .slide-dots label:nth-child(3),
#slide4:checked ~ .slide-dots label:nth-child(4) {
    background-color: #ff8900;
}

#slide1:checked ~ .pictures {margin-left: 0;}
#slide2:checked ~ .pictures {margin-left: -815px;}
#slide3:checked ~ .pictures {margin-left: -1630px;}
#slide4:checked ~ .pictures {margin-left: -2445px;}

.pictures {
	transition: all 0.8s ease-in-out;
}

footer { 
    background-color: #2D3E50;
    height: 500px;
    border-top: 10px solid #52AFD8;
}

.inner-left {
    float: left;
}

.copyright { 
    color: #fff;
    font-family: sans-serif;
    margin: 15px 0;
}

.inner-right {
    float: right;
}

.inner-right:nth-first-child {
    float: right;
    margin-right: 5px;
}

.inner-right:nth-last-child {
    float: right;
    margin-right: 5px;
}

.top-row {
    line-height: 3em;
    padding: 0 20px;
    color: white;
    font-size: 20px;
}

.inner img {
    vertical-align: middle;
    padding: 0 0 0 5px;
}

.top-row:after {
    content: '';
    display: table;
    clear: both;
}

.separator-line {
    border: 1px solid #415266;
}

.footer-menu {
    padding: 0;
    margin: 0;
}

.footer-menu li {
    list-style: none;
    float: left;
}

.footer-menu li a {
    color: #fff;
    display: block;
    margin: 15px 5px;
    text-decoration: none;
}

.social-media a {
    display: inline-block;
    float: left;
}